*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body{
    position: relative;
    background: linear-gradient(180deg, #c65969, #f6a67e);
}

/*-----------------HEADER------------------*/

header{
    box-shadow: 0px 10px 15px #151519;
    height: 100px;
    background-color: white;
}

.btn-contact{
    background-color: #151519;
    border: none;
    color: white;
    width: 160px;
    height: 30px;
    border-radius: 20px;
    justify-content: flex-end;
}

header nav ul{
    width: 100%;
    display: flex!important;
}

.nav-link{
    color: #151519!important;
}

.navbar-brand{
    margin-right: 50px;
}

header a{
    text-decoration: none;
    color: white;
}

header a:hover{
    text-decoration: none;
    color: white;
}

/*-----------------------------------------*/

/*-----------------FOOTER------------------*/
footer{
    height: 50px;
    display: flex!important;
    justify-content: space-between!important;
    align-items: center!important;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
}

footer div{
    display: inline-block;
}

.bi{
    margin: 0 10px;
    font-size: 20px!important;
}

footer div p{
    margin: 0 0 0 10px!important;
}

/*-----------------------------------------*/

/*------------------INDEX------------------*/

#body{
    position: relative;
    height: 150vh;
}

#container{
    height: 130vh;
    z-index: -1;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

#container h1{
    color: white;
    font-size: 100px;
    text-shadow: -3px 1px 1px black;
    text-align: center;
    padding-top: 20px;
}

#container p{
    color: white;
    font-size: 30px;
    text-align: center;
    position: absolute;
    bottom: 30px;
    width: 100%;
}

/*-----------------------------------------*/

/*----------------NOS SERVICE--------------*/

#principal{
    background-image: url("../img/FOND.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

#principal .text-article{
    background-color: white;
    width: 630px;
    padding: 30px;
    height: 600px;
}

.services-div{
    width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 600px 400px;
    padding: 100px 0;
}

.flex-img{
    display: flex;
    justify-content: flex-end;
}

/*-----------------------------------------*/

/*------------------CONTACT----------------*/

#contenue{
    height: 600px;
    display: grid;
    grid-template-columns: 35% 40% 25%;
    margin-top: 50px;
}

#contenue .formulaire h2{
    font-size: 50px;
}

#contenue .formulaire{
    margin-left: 20px;
    color: white;
}

#contenue form input, #contenue form textarea{
    width: 400px;
    border: none;
}

#contenue form button{
    border: none;
    background-color: transparent;
    float: right;
}

#contenue .coord{
    color: white;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    margin: 140px auto;
}

#contenue .coord p{
    margin: 5px;
}

#contenue .coord h2{
    font-size: 40px;
}

#contenue .localisation{
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;

}

/*-----------------------------------------*/

/*--------------PRESENTATION---------------*/

#main{
    width: 900px;
    margin: auto;
    padding: 50px 0;
}

#main .banner{
    width: 900px;
    margin-bottom: 50px;
    box-shadow: 10px 5px 10px #151519;
}

#main .texte{
    color: white;
    margin-bottom: 50px;
}

.poles article img{
    width: 500px;
}

.poles article div{
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.poles article{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    margin: 30px 0;
    box-shadow: 10px 5px 10px #151519;
}

/*-----------------------------------------*/

/*-----------------EQUIPES-----------------*/

#main-equipe{
    width: 900px;
    margin: auto;
    padding: 50px 0;
}

#main-equipe .banner2{
    width: 900px;
    margin-bottom: 50px;
    box-shadow: 10px 5px 10px #151519;
}

#main-equipe .intro{
    color: white;
    margin-bottom: 80px;
}

#main-equipe section .div1{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

#main-equipe section .div1 p{
    margin: 10px;
}

#main-equipe section .div1 div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-equipe section img{
    margin: 20px;
    width: 170px;
}

#main-equipe section h3{
    color: white;
    text-align: center;
}

#main-equipe section article .div2{
    display: flex;
    justify-content: space-between;
    margin: 0 0 80px 0;
}

#main-equipe section article .div2 div{
    background-color: white;
}

#main-equipe section article .div2 div p{
    margin: 0;
    text-align: center;
}

#main-equipe section article .div3{
    display: flex;
    justify-content: space-between;
}

.integration, .graphisme, .communication, .audiovisuel{
    background-color: white;
}

#main-equipe section article .div3 div p{
    text-align: center;
}

/*-----------------------------------------*/

/*------------------------------------RESPONSVE------------------------------------------------*/

/*---------VERSION TABLETTE------------------*/

@media screen and (max-width: 1000px){

    ul{
        background-color: rgba(255, 255, 255, 0.7);
    }

    .btn-contact{
        background-color: #151519;
        border: none;
        color: #151519;
        width: 160px;
        height: 30px;
        border-radius: 0px;
        justify-content: flex-end;
    }

    .dropdown-menu{
        background-color: rgba(255, 255, 255, 0.7)!important;
    }

    /*----------------NOS SERVICE--------------*/

    #principal{
        background-image: url("../img/FOND.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

    }

    #principal .text-article{
        background-color: white;
        width: 100%;
        padding: 30px;
        height: 700px;
        margin: auto;
    }

    .services-div{
        width: 82%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 700px 600px;
        padding: 100px 0;
    }

    .flex-img{
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }

    /*-----------------------------------------*/

    /*------------------CONTACT----------------*/

    #contenue{
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 600px 320px 650px;
        margin-top: 50px;
    }

    #contenue .formulaire{
        color: white;
        margin: auto;
    }

    #contenue .coord{
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 140px auto;
    }

    #contenue .localisation{
        margin-right: 20px;
        display: flex;
        justify-content: center;

    }

    /*-----------------------------------------*/

    /*--------------PRESENTATION---------------*/

    #main{
        width: 82%;
        margin: auto;
        padding: 50px 0;
    }

    #main .banner{
        width: 100%;
        margin-bottom: 50px;
        box-shadow: 10px 5px 10px #151519;
    }

    .poles article img{
        width: 100%;
    }

    .poles article{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        margin: 30px 0;
        box-shadow: 10px 5px 10px #151519;
    }

    .poles .integration{
        margin-bottom: 90px;
    }

    /*-----------------------------------------*/

    /*-----------------EQUIPES-----------------*/

    #main-equipe{
        width: 82%;
        margin: auto;
        padding: 50px 0;
    }

    #main-equipe .banner2{
        width: 100%;
        margin-bottom: 50px;
        box-shadow: 10px 5px 10px #151519;
    }


    #main-equipe section .div1{
        width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    #main-equipe section img{
        margin: 20px;
        width: 170px;
    }

    #main-equipe section article .div2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        margin: 20px 0;
    }

    #main-equipe section article .div2 div{
        margin: 20px auto;
    }

    #main-equipe section article .div3{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #main-equipe section article .div3 div{
        margin: 20px auto;
    }

    /*-----------------------------------------*/
}

@media screen and (max-width: 768px){
    /*-----------------FOOTER------------------*/
    footer{
        height: 100px;
        display: grid!important;
        grid-template-columns: 1fr!important;
        grid-template-rows: 1fr 1fr!important;
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: white;
    }

    footer div{
        display: flex;
        justify-content: center;
    }

    .bi{
        margin: 0 10px;
        font-size: 20px!important;
    }

    footer div p{
        margin: 0 0 0 10px!important;
    }

    /*-----------------------------------------*/
}

/*---------VERSION MOBILE------------------*/

@media screen and (max-width: 480px){

    /*------------------INDEX------------------*/

    h1{
        font-size: 50px!important;
        padding-top: 50px!important;
    }

    #container p{
        bottom: 80px;
    }

    /*-----------------------------------------*/

    /*----------------NOS SERVICE--------------*/

    #principal .text-article{
        height: 800px;
    }

    .services-div{
        width: 90%;
        grid-template-rows: 820px 600px;
    }

    /*-----------------------------------------*/

    /*------------------CONTACT----------------*/

    #contenue{
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 600px 320px 650px;
        margin-top: 50px;
    }

    #contenue .formulaire{
        color: white;
        margin: auto;
        width: 90%;
    }

    #contenue form input, #contenue form textarea{
        width: 330px;
    }

    /*-----------------------------------------*/

    /*--------------PRESENTATION---------------*/

    #main{
        width: 82%;
        margin: auto;
        padding: 50px 0;
    }

    #main .banner{
        width: 100%;
        margin-bottom: 50px;
        box-shadow: 10px 5px 10px #151519;
    }

    .poles article img{
        width: 100%;
        height: 203px;
    }

    .poles article{
        display: grid;
        grid-template-rows: 203px 300px;
        grid-template-columns: 1fr;
        margin: 30px 0;
        box-shadow: 10px 5px 10px #151519;
    }

    .poles .graphisme{
        display: grid;
        grid-template-rows: 300px 203px;
        grid-template-columns: 1fr;
        margin: 30px 0;
        box-shadow: 10px 5px 10px #151519;
    }

    /*-----------------------------------------*/

    /*-----------------EQUIPES-----------------*/

    #main-equipe{
        width: 82%;
        margin: auto;
        padding: 50px 0;
    }

    #main-equipe .banner2{
        width: 100%;
        margin-bottom: 50px;
        box-shadow: 10px 5px 10px #151519;
    }


    #main-equipe section .div1{
        width: 100%;
        background-color: white;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }




    #main-equipe section img{
        margin: 20px;
        width: 170px;
    }

    #main-equipe section article .div2{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        width: 100%;
        margin: 20px 0;
    }

    #main-equipe section article .div2 div{
        margin: 20px auto;
    }

    #main-equipe section article .div3{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 600px 850px 600px 400px;
    }


    /*-----------------------------------------*/

}